mat-card {
	text-align: center;
	padding: 30px;
}

img {
	border-radius: 50%;
	width: min-content;
	align-self: center;
	padding-bottom: 20px;
}

button {
	margin: 5px;
}

.loading {
	align-self: center;
}
