mat-card {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px;
	position: relative;
}

img {
	border-radius: 50%;
}

button {
	margin: 5px;
}

.loading {
	align-self: center;
}

.form {
	padding-top: 20px;
	mat-form-field {
		width: 100%;
	}
}
