$darkgrey-accent: #242424;
$primary-color: #d6d6d6;

.landing-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img {
	position: relative;
	left: 25%;
	width: 5em;
}

button {
	background-color: transparent;
	box-sizing: border-box;
	padding: 5px 10px;
	border: none;
	box-shadow: $darkgrey-accent 3px 3px 7px;
	color: $primary-color;
	margin-right: 20px;
	margin-top: 20px;
	outline: none;
	font-size: 14px;
	font-weight: 500;

	&:active {
		transform: translate(1px, 1px);
		box-shadow: lightgray 0 0 5px;
	}
}
